*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0; /* Remove default margin to fit the content to the viewport */
  font-family: sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-body {
  background: linear-gradient(to right, #b539e7 0%, #e39eff 100%);
}

.header-content {
  display: flex;
  justify-content: left; /* Center align the list items horizontally */
  padding: 1.5% 0 1% 0;
  margin-left: 2%;
}

.header-content ul {
  display: flex; /* Display the list items in a row */
  justify-content: left; /* Center align the list items horizontally */
  position: relative;
}

.header-content li {
  margin: 0 35px;
  position: relative;
  padding-bottom: 2%;
}

.header-content li.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px; /* Adjust the margin-top as needed */
  left: 0;
  background-color: #ffffff;
}
.header-content li.activity-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #ffffff;
  top: 18%; /* Position the arrow just below the list item */
  left: 118%;
  transform: translateX(-50%);
}

.header-content a {
  color: #fff;
  text-decoration: none;
}

.activities-dropdown-body {
  width: 250px;
  height: 135px;
  border-radius: 12px;
  padding: 26px 21px;
  background-color: #ba4ce6;
  position: absolute;
  padding: 0;
  display: none;
  z-index: 1;
}

.activities-dropdown-body.active {
  display: block;
}

.activities-dropdown-content {
  display: flex;
  flex-direction: column;
}

.activities-dropdown-content li {
  padding: 10px 0;
  border-radius: 2px;
  position: relative;
}
.activities-dropdown-content li::after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background-color: #fff; /* Adjust the color as needed */
  position: absolute;
  bottom: 0;
  left: -35px;
}
.activities-dropdown-content li:last-child::after {
  display: none;
}

.main-content {
  display: flex;
  padding: 0 2% 1% 2%;
}

.introduction {
  flex: 1; /* Grow to fill available space */
  padding: 0 5% 0 5%; /* Remove padding, you can adjust as needed */
}
.introduction .introduction-title {
  font-size: 48px;
}
.introduction-image {
  flex: 1;
  padding-top: 5%; /* Grow to fill available space */
  /* You can add padding or styles as needed */
}
.introduction-image img {
  height: 85%;
  width: 80%;
}

.introduction-buttons a {
  color: #ba4ce6;
  text-decoration: none;
  margin: 0 5%;
}
.primary-button {
  background-color: #ba4ce6;
  border-radius: 12px;
  width: 130px;
  height: 40px;
  color: #ffffff;
  border-color: #ba4ce6;
  font-size: 16px;
}
.primary-button:hover {
  filter: saturate(60%); /* Decrease the color saturation on hover */
}

.secondary-button {
  background-color: white;
  border-radius: 12px;
  width: 145px;
  height: 40px;
  font-size: 16px;
  color: #ba4ce6;
  border: 3px solid #ba4ce6;
}

.secondary-button:hover {
  filter: saturate(60%); /* Decrease the color saturation on hover */
}

.fractals-interaction {
  flex: 1;
  padding: 1% 0 0 3%; /* Remove padding, you can adjust as needed */
}

.fractals-result {
  flex: 1;
}

.choose-fractal-type {
  width: 359px;
  height: 47px;
  padding: 10px;
  color: white !important;
  background-color: #ba4ce6 !important;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

.fractals-parameters-container {
  width: 85%;
  height: 40%;
  border: 3px solid #ba4ce6;
  border-radius: 22px;
  margin: 3% 0;
  padding: 5% 3% 1.5% 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parametr-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}

.parametr-row .parameter-label,
.parametr-row .slider-value-label {
  width: 170px; /* Adjust the width as needed */
  font-size: 20px;
}

.horizontal-slider {
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  width: 100%; /* Set the width of the input */
  height: 7px; /* Set the height of the track */
  background: #d9d9d9; /* Set the track's background color to gray */
  border-radius: 12px; /* Round the track */
}

.horizontal-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styles for WebKit browsers */
  width: 17px; /* Set the width of the thumb (circle) */
  height: 17px; /* Set the height of the thumb */
  background: #ba4ce6; /* Set the thumb's background color to purple */
  border-radius: 50%; /* Make it a circle */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.horizontal-slider::-webkit-slider-thumb:hover {
  /*background: #b539e7;*/
  width: 20px; /* Set the width of the thumb (circle) */
  height: 20px;
}

.slider-value-label {
  text-align: center;
}

.colored {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  ) !important;
}

.fa-solid {
  margin-right: 2px;
}

#fractalCanvas {
  width: 100%;
  height: 100%;
  display: block; /* Ensures the canvas uses the entire space */
}

.fractals-result {
  flex: 1;
  display: flex; /* Add display: flex to create a flex container */
  flex-direction: column;
  align-items: center; /* Vertically center children in the flex container */
  justify-content: center; /* Horizontally center children in the flex container */
}

  .fractals-result-container {
    position: relative; /* Set position to relative */
    width: 580px;
    height: 550px;
    border: 3px solid #ba4ce6;
    border-radius: 22px;
    overflow: hidden;
    display: flex; /* Add display: flex to make it a flex container */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  


.fractals-result-title {
  display: block;
  width: 580px;
  text-align: left;
}
.color-title {
  padding: 2% 0 0 3%;
}
.color-type-label {
  color: #ba4ce6;
  font-size: 20px;
}
.colors-parameters-content {
  width: 40%; /* Set the width to 40% to fill up the left side of the screen */
  padding: 0 1.5% 0 3%; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.black {
  background-image: linear-gradient(to right, white, gray, black) !important;
}

.cyan {
  background-image: linear-gradient(to right, white, cyan) !important;
}

.magenta {
  background-image: linear-gradient(to right, white, magenta) !important;
}

.yellow {
  background-image: linear-gradient(to right, white, yellow) !important;
}

.colors-output {
  flex: 1;
  width: 60%; /* Set the width to 60% for the right side of the screen */
  padding: 0 3% 0 1.5%; /* Adjust padding as needed */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.colors-interaction {
  display: flex;
  flex-direction: row;
}

.colors-output-before,
.colors-output-after {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start; /* Align to the top of the flex container */
  margin: 0 2% 0 0; /* Adjust the margin as needed */
}

.colors-output-before p,
.colors-output-after p {
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 10px; /* Adjust the margin as needed */
}

.colors-output-before button,
.colors-output-after button {
  margin-top: 10px; /* Adjust the margin as needed */
}

.colors-output-before-container,
.colors-output-after-container {
  width: 350px;
  height: 350px;
  border: 3px solid #ba4ce6;
  border-radius: 22px;
  overflow: hidden;
  margin: 1% 0 0 0;
}

#before-canvas,
#after-canvas {
  width: 100%;
  height: 100%;
  display: block; /* Ensures the canvas uses the entire space */
}

.HSL-parameters-container,
.CMYK-parameters-container,
.Saturation-parameters-container {
  width: 100%; /* Adjust the width and margin as needed */
  border: 3px solid #ba4ce6;
  border-radius: 22px;
  margin: 2% 1%; /* Adjust the margin as needed */
  padding: 2% 0.5% 1% 3%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.HSL-parameters-container .parametr-row label,
.CMYK-parameters-container .parametr-row label,
.Saturation-parameters-container .parametr-row label {
  width: 200px; /* Adjust the width as needed */
  font-size: 20px;
}

.HSL-parameters-container .parametr-row,
.CMYK-parameters-container .parametr-row,
.Saturation-parameters-container .parametr-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
}

@media (max-width: 768px) {
  .HSL-parameters-container,
  .CMYK-parameters-container,
  .Saturation-parameters-container {
    width: 100%; /* Set to 100% on smaller screens */
    margin: 1% 0;
  }
}
.definitions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.definitions-content h1 {
  font-size: 40px;
}
.definition-article h2 {
  font-size: 32px;
  padding: 1% 0 0 0;
  margin: 0;
  text-align: left;
}
.definition-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children (including h2) to the left */
  text-align: left;
  font-size: 24px; /* Specify the unit for font-size */
  width: 75%;
}
.image-area {
  flex: 1;
  /* Grow to fill available space */
  display: flex;
  align-items: center; /* Center image horizontally */
  justify-content: center; /* Center image vertically */
  /* You can add padding or styles as needed */
  padding-bottom: 3%;
}

.image-area img {
  width: 100%;
  height: 50%;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-content h1 {
  font-size: 48px;
  padding: 2% 0;
}
.about-us-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children (including h2) to the left */
  text-align: left;
  font-size: 24px; /* Specify the unit for font-size */
  width: 75%;
}
.team-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Center the children horizontally with space around them */
  align-items: center;
  text-align: center;
}

.team-image-row {
  display: flex;
  flex-direction: column;
  padding: 0 30%;
}

.team-image-row img {
  width: 200px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}
.team-image-row p {
  margin-top: 10px;
  font-size: 28px; /* Add margin for space between image and paragraph */
}
.contact-article {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  margin-bottom: 3%;
}
.contact-image {
  padding: 0% 0 0 15%; /* Adjust the left padding to shift it to the right */
  align-items: flex-end; /* Align to the right */
}

.contact-image img {
  width: 80%;
  height: 85%;
}
.contact-references h1 {
  margin: 0;
}
.contact-references {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: flex-start; /* Align content to the left */
  width: 75%; /* Adjust the width as needed */
  padding: 0 15% 0% 0; /* Adjust the left padding to shift it to the left */
  margin-top: 0;
}

.contact-references p {
  font-size: 24px;
  padding: 0;
  margin-bottom: 4%;
}

.references-row {
  display: flex;
  flex-direction: row;
}

.references-row img {
  width: 90%;
  height: 90%;
}
.references-row a {
  margin: 0 15% 5% 0;
}
.activities-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 0 0 0;
}

.activities-content h1 {
  text-align: center;
  font-size: 48px;
  padding: 0;
  margin: 0;
}
.activities-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Adjust as needed */
  margin-top: 1%; /* Add some margin between h1 and the row */
}

.activities-row a {
  text-decoration: none;
}

.activities-row-item {
  width: 350px;
  height: 350px; /* Set a fixed height */
  border: 3px solid #ba4ce6;
  border-radius: 22px;
  margin: 30px; /* Increase the margin to create a bigger gap */
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.activities-row-item img {
  width: 100%;
  height: 70%; /* Adjust as needed */
  object-fit: cover;
}

.activities-row-item-description {
  display: flex;
  flex-direction: row;
  padding: 5%;
  box-sizing: border-box; /* Ensure padding is included in the fixed height */
}

.activities-row-item-description p {
  color: #000;
  margin-top: 2%;
  margin-right: 5%;
  width: 70%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: hsla(0, 0%, 0%, 0.5);
}

.modal-content {
  margin: 13% auto; /* 15% from the top and centered */
  border-radius: 1rem;
  padding: 1rem;
  width: 35rem;
  background-color: #ba4ce6;
  color: white;
  display: flex;
  flex-direction: column;
}

.close-modal {
  display: block;
  margin-left: auto;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-body {
  margin-top: 1rem;
  font-size: 14px;
  padding: 0 1rem;
}

.modal-header-text {
  font-size: 28px;
  font-weight: bold;
}

.parameters-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question-image {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.question-image:hover {
  cursor: pointer;
}

.modal li {
  list-style: -moz-ethiopic-numeric;
}

.close-image {
  width: 2rem;
  height: 2rem;
}

.figures-interaction {
  flex: 1;
  padding: 0 0 0 3%; /* Remove padding, you can adjust as needed */
}

.figures-parameters-container {
  width: 85%;
  height: 70%;
  border: 3px solid #ba4ce6;
  border-radius: 22px;
  margin: 3% 0;
  padding: 1% 3% 1.5% 3%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coordinate-input {
  width: 20%;
  height: 25px;
  border: 1px solid; /* Add 'solid' to specify the border style */
  border-radius: 12px;
  outline: none; /* Remove the default outline style */
  margin: 0; /* Adjust the margin for spacing from the left */
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.parametr-row p,
.parametr-row label,
.parametr-row input {
  margin: 0;
  padding: 0;
  /* Remove default margins */
}
.parametr-row p {
  font-size: 20px;
}

.coordinate-label {
  font-size: 20px;
}

.point-label-container {
  width: 15%;
}
.point-label-container-move-by-center {
  width: 50%
}

.coordinates {
  margin-left: 5%;
}

.choose-turn-type {
  width: 359px;
  height: 40px;
  color: white !important;
  background-color: #ba4ce6 !important;
  border-radius: 12px;
  font-size: 20px;
  outline: none;
  text-align: center;
}

.turn-type {
  justify-content: center;
}

.readonly {
  background-color: lightgrey;
}

.figures-parameters-container .secondary-button{
  width: 145px;
  height: 30px;
  margin-right: 10%;
}

.button-group {
  margin:0;
  justify-content: row;
}
.button-group .secondary-button{
  margin: 2%;
}
.animation {
  justify-content: flex-start;
  width: 100%;
}
.figures-checkbox{
  width: 10%;
}
.move-by-center{
  width: 7%;
}
.center{
  width: 13.5%;
}

.cordinate-move-to-center{
  width: 75%;
}

.lds-spinner {
  position: absolute; /* Set position to absolute */
  top: 45%; /* Move 50% from the top */
  left: 72%; /* Move 50% from the left */
  transform: translate(-50%, -50%); /* Center the spinner */
  z-index: 1;
  color: official;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #591586; /* Use a transparent or contrasting color */
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



